@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome To LawX Lending Co.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<body>

    <div class="main-container">
        <div class="title">
            <div class="greet">
                <h1>Welcome to Law Lending Company</h1>
            </div>
            <div class="tagline">
                <p>"Unlocking opportunities with every loan, step by step"</p>
            </div>
            <div class="button-join">
                <button>Join Now</button>
            </div>
        </div>
    </div>

</body>
